name: Run Tests

on:
  workflow_dispatch:
  workflow_call:

jobs:
  run_tests:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Install clang-format
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Clang Format
        run: clang-format --dry-run -Werror include/bitset.h source/bitset.c
        # Currently contains only the code that has been formatted to conform
        # When all existing code conforms, change to this:
        # run: clang-format --dry-run -Werror include/*.h source/*.c

      - name: Run Tests
        run: cd tests && ./run_tests.sh

 
